.app {
  background-color: rgb(37, 49, 42);
  width: 56%;
  height: 100%;
  margin: 0px auto;
  padding: 32px 24px 16px;
  border: 2px solid rgba(192, 192, 228, 0.88);
  border-top: none;
  border-bottom: none;
  box-shadow: 0px 0px 24px rgb(37, 49, 42), inset 0px -4px 12px rgb(77, 64, 45);
}/*# sourceMappingURL=App.css.map */