body {
  margin: 0px;
  height: 100%;
  background-color: rgba(48, 48, 132, 0.42);
}
body::before, body::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 100%;
  position: fixed;
  top: 0%;
  left: -16px;
  box-shadow: 4px 0px 16px 0px rgba(48, 48, 132, 0.66);
}
body::after {
  left: 100%;
  box-shadow: -4px 0px 16px 0px rgba(48, 48, 132, 0.66);
}/*# sourceMappingURL=index.css.map */