@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&family=Rubik:wght@400;500&display=swap');
$primary: #fdd446;
$secondary: #ff9900;
$dark: #000000;

@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$container-max-widths: (
  sm: 540px,
  md: 708px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

@import '../node_modules/bootstrap/scss/bootstrap.scss';

:root {
  --bs-body-font-family: 'Rubik', sans-serif;
}

html {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

html,
body {
  height: 100%;
  font-weight: 400;
}

body {
  background: radial-gradient(farthest-side at left 24%, rgba(253, 212, 70, 0.5) 8%, transparent 28%) no-repeat fixed,
    radial-gradient(farthest-side at right 88%, rgba(253, 212, 70, 0.5) 8%, transparent 28%) no-repeat fixed,
}

.footer-gradient {
  top: -92%;
  background: radial-gradient(farthest-corner at bottom, rgba(253, 212, 70, 0.5) 21%, transparent 76%) no-repeat;
}

.button-search {
  appearance: none;
  border: none;
  padding: 0px;
  max-width: 18px;
  max-height: 18px;
  background-color: transparent;
  transform: translateY(-50%);
  left: 22px;

  img {
    max-width: 100%;
    vertical-align: 0;
  }
}

main {
  margin-top: 59px;
}

.button-filter,
.button-default {
  --bs-btn-hover-bg: transparent;
  --bs-btn-active-bg: transparent;
}

.button-filter {

  & span {
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
  }

  & img {
    max-width: 13px;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.button-default {

  & span {
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
  }

  & img {
    max-width: 12px;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
}

article {
  font-size: 14px;
}

.istok {
  font-family: 'Istok Web', sans-serif !important;
}

.fs {

  &-11 {
    font-size: 11px;
  }

  &-14 {
    font-size: 14px;
  }

  &-17 {
    font-size: 17px;
  }

  &-20 {
    font-size: 20px;
  }
}

.gradient {
  background: linear-gradient(90deg, #FDD446 0%, #F79B47 100%);
}

.pag {

  & button {
    width: 40px;
    max-height: 40px;
  }
}

.aquo {
  max-width: 11px;
}

a {
  text-decoration: none;
  margin-bottom: 7px;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.33;
  }
}