table {
  border-spacing: 0;
  width: 100%;
  text-align: center;
  line-height: 24px;
}

thead {
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(232, 232, 232, 0.88);
}
thead tr {
  background-color: rgb(77, 136, 84);
}
thead tr th {
  border: 1px solid rgba(232, 232, 232, 0.88);
  border-bottom: 2px solid rgb(37, 49, 42);
  width: 33.33%;
}
thead tr th:first-child {
  border-top-left-radius: 8px;
  border-right: none;
}
thead tr th:last-child {
  border-top-right-radius: 8px;
  border-left: none;
}

tbody {
  color: rgb(37, 49, 42);
  font-weight: 700;
}
tbody tr {
  background-color: rgba(232, 232, 232, 0.88);
}
tbody tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}
tbody tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}
tbody tr td {
  border: 1px solid rgb(37, 49, 42);
}
tbody tr td:first-child {
  border-left: 3px solid rgb(77, 136, 84);
}
tbody tr td:last-child {
  border-right: 3px solid rgb(77, 136, 84);
}
tbody tr:nth-child(-n+5) {
  background-color: rgb(53, 119, 239);
  color: rgba(232, 232, 232, 0.88);
}/*# sourceMappingURL=style.css.map */