$white88: rgba(232, 232, 232, 0.88);
$darkGrey: rgb(37, 49, 42);

table {
    border-spacing: 0;
    width: 100%;
    text-align: center;
    line-height: 24px;
}

thead {
    font-size: 16px;
    text-transform: uppercase;
    color: $white88;

    & tr {
        background-color: rgb(77, 136, 84);

        & th {
            border: 1px solid $white88;
            border-bottom: 2px solid $darkGrey;
            width: 33.33%;

            &:first-child {
                border-top-left-radius: 8px;
                border-right: none;
            }

            &:last-child {
                border-top-right-radius: 8px;
                border-left: none;
            }
        }
    }
}

tbody {
    color: $darkGrey;
    font-weight: 700;

    & tr {
        background-color: $white88;

        &:last-child {

            & td {

                &:first-child {
                    border-bottom-left-radius: 8px;
                }

                &:last-child {
                    border-bottom-right-radius: 8px;
                }
            }
        }

        & td {
            border: 1px solid $darkGrey;

            &:first-child {
                border-left: 3px solid rgb(77, 136, 84);
            }

            &:last-child {
                border-right: 3px solid rgb(77, 136, 84);
            }
        }
    }

    & tr:nth-child(-n+5) {
        background-color: rgb(53, 119, 239);
        color: $white88;
    }
}